.git
.gitignore

__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

.venv/

.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
api/tests/
tests.py
test_endpoints/

build/
dist/
*.egg-info/

.DS_Store
.idea/
.vscode/

*.log
logs/
**/logs/

db.sqlite3
media/
staticfiles/

project-images/
helm-charts/
docker-compose.yaml